<div id="homepage-image"><img src="index_image.jpg" border="0" class="responsive-image" alt="Home page image"></div>
<div>
    <hr><h1>About Us</h1><hr>
    <h4>Brooklyn Baked Goods Collective is an award winning bakery that strives to adventurously explore culinary traditions with an unexpected twist, thoughtfully melding sweet and savory with a touch of spice. Known for our innovative flavor combinations (think currant-rosemary scones or black caraway-chocolate shortbread), you can find the full array of our unique treats at our flagship located in 184 Greenpoint Ave in Brooklyn.</h4>
</div>
    
        