
        <hr><h4>As one of our main specialties, our muffins are the perfect morning companion with your cup of coffee.</h4><hr>
        <div class="row">
        <% @muffins.to_a.each do |elem| %>
            <div class= "col s12 m6 l4">
                <div class="card large">
                    <div class="card-image">
                        <img src="<%= elem.image %>">
                        <span class="card-title"></span>
                    </div>
                    <div class="card-content">
                        <p><%= elem.description %></p>
                    </div>
                    <div class="card-action">
                        <a href="#">"<%= elem.price %>"</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>        
        